#box1{
    border: 2px solid red;
    width: 200px;

    /* height과 line-height에 같은 크기값을 주면 세로로 가운데 정렬*/
    height: 200px;
    line-height: 200px;
}

#box2{
    border: 2px solid red;
    width: 50%;
    height: 200px;
}

.display{
    border: 2px solid black;
    width: 150px;
    height: 50px;
}

.display-inline{
    display: inline;
    width: 150px;
    height: 50px;
}

.display-inline-block{
    display: inline-block;
}

.area1{
    background-color: red;
    margin: 20px;
    padding: 20px;
}

.area2{
    background-color: orange;
    margin: 20px;
    padding: 20px;
}

.border{
    width: 100px;
    height: 100px;
}

.b1{
    border-style: none;
}
.b2{
    border-style: hidden;
}

.b3{
    border-style: dotted ;
    border-color:  hotpink;
    border-top-color: aqua;
    border-left-color: violet;
    border-bottom-color: yellow;
    border-right-color: black;

    border-width: thick, thin;
    /* 시계방향 */
    border-width : 10px 5px 2px 1px;
    /*상하 좌우*/
    border-width : 10px 20px;
}

.b4{
    /*선 스타일 지정*/
    border-style: dashed;

    /*  선의 색상 지정*/
    border-color: antiquewhite;

    /* 꼭지점을 둥글게 처리*/
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    
}

.b5{

    border-style: double;
    /* 원 모양 */
    border-radius: 50%;
    border-width: 20px;
   
}

.b6{
    border-style: groove;
    border-width: 10px;
}

.b7{
    border-style: inset;
}

.b8{
    border-style: outset;
}

.b9{
    border-style: ridge;
}

.b1{
    border-style: solid;
}

.space{
    width: 100px;
    height: 100px;
    background-color: blue;
    border: 1px dotted yellow;
}

.margin1{
    margin: 50px;
    box-shadow: -5px -5px gray;
}
/*
    마진 중첩현상 : 요소를 세로로 배치할 경우 마진이 큰 쪽으로 겹쳐진다.
*/
.margin2{
    margin: 50px 100px;
    /*
    그림자
        수평거리 수직거리 흐림정도 번짐정도 색상
        흐림정도/번짐정도 : 0~양수값
        inset 속성: 그림자가 요소 안으로 표시
    */
    box-shadow: -5px -5px 50px 10px yellow inset;
}

.margin3{
    margin: 30px 50px 80px 100px;
    margin-left: 300px;
}

.padding1{
    /* 상하좌우 모두 30px 적용 */
    padding: 30px;
}

.padding2{
    padding-top: 80px;
    padding-right: 100px;
    box-shadow: -5px -5px gray inset;
}

.padding3{
    padding: 10px 50px;
    /*
        margin 속성을 이용하여 가운데 정렬하기
        조건: 요소의 너비가 지정되어 있어야 함
        왼쪽 마진과 오른쪽 마진 속성값을 auto로 지정
    */
    margin: 0px auto;
}

